name: Deploy NGINX App to EKS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # -------------------------
    # Configure AWS Credentials
    # -------------------------
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    # -------------------------
    # LOGIN TO ECR
    # -------------------------
    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    # -------------------------
    # BUILD & PUSH IMAGE
    # -------------------------
    - name: Build, tag and push image to ECR
      env:
        ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
      run: |
        IMAGE_TAG=latest
        ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)

        docker build -t $ECR_REPOSITORY .
        docker tag $ECR_REPOSITORY:latest $ACCOUNT_ID.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG
        docker push $ACCOUNT_ID.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG

    # -------------------------
    # UPDATE KUBECONFIG FOR EKS
    # -------------------------
    - name: Update kubeconfig for EKS
      run: |
        aws eks update-kubeconfig \
          --name ${{ secrets.EKS_CLUSTER_NAME }} \
          --region ${{ secrets.AWS_REGION }}

    # -------------------------
    # APPLY MANIFESTS
    # -------------------------
    - name: Deploy to EKS
      run: |
        ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)

        kubectl set image deployment/html-deploy \
        web=$ACCOUNT_ID.dkr.ecr.***.amazonaws.com/***:latest \
        -n dev

        kubectl rollout status deployment/html-deploy \
        -n dev --timeout=200s || kubectl describe deployment/html-deploy -n dev



    - name: Verify
      run: |
        kubectl get pods -n dev -o wide
        kubectl get svc -n dev -o wide
        kubectl get deploy -n dev

